@tailwind base;

@layer base {
  :root {
    color-scheme: light;
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  :root.dark {
    color-scheme: dark;
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@tailwind components;
@tailwind utilities;

/* react-datepicker styles */
/* react-datepicker -> date picker */
.app-date-picker .react-datepicker__aria-live {
  @apply hidden;
}

.app-date-picker .react-datepicker-popper {
  @apply z-40 mt-1 ml-0 w-72 rounded border border-slate-200 bg-white px-3 pt-3 pb-2 text-sm shadow-lg sm:w-60;
}

.app-date-picker .react-datepicker-left {
  @apply absolute left-0 right-auto top-11 transform-none !important;
}

.app-date-picker .react-datepicker-right {
  @apply absolute right-0 left-auto top-11 transform-none !important;
}

.app-date-picker .react-datepicker__portal {
  @apply absolute top-12 right-0 z-10 w-72 transform-none rounded border-2 border-gray-200 bg-white px-3 py-2 text-sm shadow;
}

.app-date-picker .react-datepicker__month-container {
  @apply flex flex-col;
}

.app-date-picker .react-datepicker__month {
  @apply flex flex-col;
}

.app-date-picker .react-datepicker__current-month {
  @apply ml-2.5 text-lg font-semibold text-gray-700;
}

.app-date-picker .react-datepicker__week {
  @apply flex justify-around;
}

.app-date-picker .react-datepicker__day-names {
  @apply flex justify-around text-center text-sm font-medium text-gray-400 sm:text-xs;
}

.app-date-picker .react-datepicker__day-name {
  @apply flex h-8 w-8 items-center justify-center rounded-full py-2 sm:py-1;
}

.app-date-picker .react-datepicker__navigation {
  @apply absolute top-2 sm:top-3;
}

.app-date-picker .react-datepicker__navigation--previous {
  @apply right-12 flex h-8 w-8 items-center justify-center rounded transition hover:bg-gray-200 sm:h-6 sm:w-6;
}

.app-date-picker .react-datepicker__navigation--next {
  @apply right-4 flex h-8 w-8 items-center justify-center rounded transition hover:bg-gray-200 sm:h-6 sm:w-6;
}

.app-date-picker .react-datepicker__day {
  @apply mb-1 flex h-8 w-8 cursor-pointer items-center justify-center rounded py-1.5 text-sm leading-loose text-gray-700 transition sm:py-1;
}

.app-date-picker .react-datepicker__day--disabled {
  @apply cursor-not-allowed opacity-40 hover:bg-transparent;
}

.app-date-picker .react-datepicker__day--outside-month {
  @apply text-gray-300;
}

.app-date-picker .react-datepicker__day--in-range {
  @apply bg-gray-200;
}

.app-date-picker .react-datepicker__day--in-selecting-range {
  @apply bg-teal-200;
}

.app-date-picker .react-datepicker__day--selecting-range-start {
  @apply border-2 border-teal-500 bg-white;
}

.app-date-picker .react-datepicker__day--selecting-range-end {
  @apply border-2 border-teal-500 bg-white;
}

.app-date-picker .react-datepicker__day--selected {
  @apply bg-teal-500 text-white;
}

.app-date-picker .react-datepicker__day--range-start {
  @apply bg-teal-500 text-white hover:bg-white hover:text-gray-700;
}

.app-date-picker .react-datepicker__day--range-end {
  @apply bg-teal-500 text-white hover:bg-white hover:text-gray-700;
}

.app-date-picker
  .react-datepicker__month-container
  .react-datepicker__header
  .react-datepicker__header__dropdown--select {
  @apply my-0.5 ml-2 grid grid-cols-8 gap-2;
}

.app-date-picker
  .react-datepicker__month-container
  .react-datepicker__header
  .react-datepicker__header__dropdown--select
  .react-datepicker__month-dropdown-container--select {
  @apply col-span-5;
}

.app-date-picker
  .react-datepicker__month-container
  .react-datepicker__header
  .react-datepicker__header__dropdown--select
  .react-datepicker__month-dropdown-container--select
  .react-datepicker__month-select {
  @apply w-full border-0 p-0 text-sm;
}

.app-date-picker
  .react-datepicker__month-container
  .react-datepicker__header
  .react-datepicker__header__dropdown--select
  .react-datepicker__year-dropdown-container--select {
  @apply order-first col-span-3;
}
.app-date-picker
  .react-datepicker__month-container
  .react-datepicker__header
  .react-datepicker__header__dropdown--select
  .react-datepicker__year-dropdown-container--select
  .react-datepicker__year-select {
  @apply w-full border-0 p-0 text-sm;
}

/* react-datepicker -> datetime picker */
.app-datetime-picker .react-datepicker__aria-live {
  @apply hidden;
}

.app-datetime-picker .react-datepicker-popper {
  @apply z-40 mt-1 ml-0 w-72 rounded border border-slate-200 bg-white px-3 pt-3 pb-2 text-sm shadow-lg sm:w-60;
}

.app-datetime-picker .react-datepicker-left {
  @apply absolute left-0 right-auto top-11 transform-none !important;
}

.app-datetime-picker .react-datepicker-right {
  @apply absolute right-0 left-auto top-11 transform-none !important;
}

.app-datetime-picker .react-datepicker__portal {
  @apply absolute top-12 right-0 z-10 w-72 transform-none rounded border-2 border-gray-200 bg-white px-3 py-2 text-sm shadow;
}

.app-datetime-picker .react-datepicker__month-container {
  @apply flex flex-col;
}

.app-datetime-picker .react-datepicker__month {
  @apply flex flex-col;
}

.app-datetime-picker .react-datepicker__current-month {
  @apply ml-2.5 text-lg font-semibold text-gray-700;
}

.app-datetime-picker .react-datepicker__week {
  @apply flex justify-around;
}

.app-datetime-picker .react-datepicker__day-names {
  @apply flex justify-around text-center text-sm font-medium text-gray-400 sm:text-xs;
}

.app-datetime-picker .react-datepicker__day-name {
  @apply flex h-8 w-8 items-center justify-center rounded-full py-2 sm:py-1;
}

.app-datetime-picker .react-datepicker__navigation {
  @apply absolute top-2 sm:top-3;
}

.app-datetime-picker .react-datepicker__navigation--previous {
  @apply right-12 flex h-8 w-8 items-center justify-center rounded transition hover:bg-gray-200 sm:h-6 sm:w-6;
}

.app-datetime-picker .react-datepicker__navigation--next {
  @apply right-4 flex h-8 w-8 items-center justify-center rounded transition hover:bg-gray-200 sm:h-6 sm:w-6;
}

.app-datetime-picker .react-datepicker__day {
  @apply mb-1 flex h-8 w-8 cursor-pointer items-center justify-center rounded py-1.5 text-sm leading-loose text-gray-700 transition sm:py-1;
}

.app-datetime-picker .react-datepicker__day--disabled {
  @apply cursor-not-allowed opacity-40 hover:bg-transparent;
}

.app-datetime-picker .react-datepicker__day--outside-month {
  @apply text-gray-300;
}

.app-datetime-picker .react-datepicker__day--in-range {
  @apply bg-gray-200;
}

.app-datetime-picker .react-datepicker__day--in-selecting-range {
  @apply bg-teal-200;
}

.app-datetime-picker .react-datepicker__day--selecting-range-start {
  @apply border-2 border-teal-500 bg-white;
}

.app-datetime-picker .react-datepicker__day--selecting-range-end {
  @apply border-2 border-teal-500 bg-white;
}

.app-datetime-picker .react-datepicker__day--selected {
  @apply bg-teal-500 text-white;
}

.app-datetime-picker .react-datepicker__day--range-start {
  @apply bg-teal-500 text-white hover:bg-white hover:text-gray-700;
}

.app-datetime-picker .react-datepicker__day--range-end {
  @apply bg-teal-500 text-white hover:bg-white hover:text-gray-700;
}

.app-datetime-picker .react-datepicker__input-time-container {
  @apply ml-0.5 mt-0.5 mb-2 flex flex-col;
}

.app-datetime-picker
  .react-datepicker__input-time-container
  .react-datepicker-time__caption {
  @apply mb-0.5 ml-1 text-sm text-gray-600;
}

.app-datetime-picker
  .react-datepicker__month-container
  .react-datepicker__header
  .react-datepicker__header__dropdown--select {
  @apply my-0.5 ml-2 grid grid-cols-8 gap-2;
}

.app-datetime-picker
  .react-datepicker__month-container
  .react-datepicker__header
  .react-datepicker__header__dropdown--select
  .react-datepicker__month-dropdown-container--select {
  @apply col-span-5;
}

.app-datetime-picker
  .react-datepicker__month-container
  .react-datepicker__header
  .react-datepicker__header__dropdown--select
  .react-datepicker__month-dropdown-container--select
  .react-datepicker__month-select {
  @apply w-full border-0 p-0 text-sm;
}

.app-datetime-picker
  .react-datepicker__month-container
  .react-datepicker__header
  .react-datepicker__header__dropdown--select
  .react-datepicker__year-dropdown-container--select {
  @apply order-first col-span-3;
}
.app-datetime-picker
  .react-datepicker__month-container
  .react-datepicker__header
  .react-datepicker__header__dropdown--select
  .react-datepicker__year-dropdown-container--select
  .react-datepicker__year-select {
  @apply w-full border-0 p-0 text-sm;
}
