@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Poppins Thin -> Tw Thin */
  @font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins/poppins-thin-webfont.woff2") format("woff2"),
      url("/assets/fonts/poppins/poppins-thin-webfont.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins/poppins-thinitalic-webfont.woff2")
        format("woff2"),
      url("/assets/fonts/poppins/poppins-thinitalic-webfont.woff")
        format("woff");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }

  /* Poppins ExtraLight -> Tw ExtraLight */
  @font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins/poppins-extralight-webfont.woff2")
        format("woff2"),
      url("/assets/fonts/poppins/poppins-extralight-webfont.woff")
        format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins/poppins-extralightitalic-webfont.woff2")
        format("woff2"),
      url("/assets/fonts/poppins/poppins-extralightitalic-webfont.woff")
        format("woff");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
  }

  /* Poppins Light -> Tw Light */
  @font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins/poppins-light-webfont.woff2")
        format("woff2"),
      url("/assets/fonts/poppins/poppins-light-webfont.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins/poppins-lightitalic-webfont.woff2")
        format("woff2"),
      url("/assets/fonts/poppins/poppins-lightitalic-webfont.woff")
        format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  /* Poppins Normal -> Tw Normal */
  @font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins/poppins-regular-webfont.woff2")
        format("woff2"),
      url("/assets/fonts/poppins/poppins-regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins/poppins-italic-webfont.woff2")
        format("woff2"),
      url("/assets/fonts/poppins/poppins-italic-webfont.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }

  /* Poppins Medium -> Tw Medium */
  @font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins/poppins-medium-webfont.woff2")
        format("woff2"),
      url("/assets/fonts/poppins/poppins-medium-webfont.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins/poppins-mediumitalic-webfont.woff2")
        format("woff2"),
      url("/assets/fonts/poppins/poppins-mediumitalic-webfont.woff")
        format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }

  /* Poppins SemiBold -> Tw SemiBold */
  @font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins/poppins-semibold-webfont.woff2")
        format("woff2"),
      url("/assets/fonts/poppins/poppins-semibold-webfont.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins/poppins-semibolditalic-webfont.woff2")
        format("woff2"),
      url("/assets/fonts/poppins/poppins-semibolditalic-webfont.woff")
        format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }

  /* Poppins Bold -> Tw Bold */
  @font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins/poppins-bold-webfont.woff2") format("woff2"),
      url("/assets/fonts/poppins/poppins-bold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins/poppins-bolditalic-webfont.woff2")
        format("woff2"),
      url("/assets/fonts/poppins/poppins-bolditalic-webfont.woff")
        format("woff");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }

  /* Poppins ExtraBold -> Tw ExtraBold */
  @font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins/poppins-extrabold-webfont.woff2")
        format("woff2"),
      url("/assets/fonts/poppins/poppins-extrabold-webfont.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins/poppins-extrabolditalic-webfont.woff2")
        format("woff2"),
      url("/assets/fonts/poppins/poppins-extrabolditalic-webfont.woff")
        format("woff");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
  }

  /* Poppins Black -> Tw Black */
  @font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins/poppins-black-webfont.woff2")
        format("woff2"),
      url("/assets/fonts/poppins/poppins-black-webfont.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins/poppins-blackitalic-webfont.woff2")
        format("woff2"),
      url("/assets/fonts/poppins/poppins-blackitalic-webfont.woff")
        format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }
}

/* react-datepicker styles */

.app-day-picker .react-datepicker-popper {
  @apply z-40 mt-1 ml-0 w-72 rounded border border-slate-200 bg-white px-3 pt-3 pb-2 text-sm shadow-lg sm:w-60;
}

.app-day-picker .react-datepicker-left {
  @apply absolute left-0 right-auto top-11 transform-none !important;
}

.app-day-picker .react-datepicker-right {
  @apply absolute right-0 left-auto top-11 transform-none !important;
}

.app-day-picker .react-datepicker__portal {
  @apply absolute top-12 right-0 z-10 w-72 transform-none rounded border-2 border-gray-200 bg-white px-3 py-2 text-sm shadow;
}

.app-day-picker .react-datepicker__month-container {
  @apply flex flex-col;
}

.app-day-picker .react-datepicker__month {
  @apply flex flex-col;
}

.app-day-picker .react-datepicker__current-month {
  @apply ml-2.5 text-lg font-semibold text-gray-700;
}

.app-day-picker .react-datepicker__week {
  @apply flex justify-around;
}

.app-day-picker .react-datepicker__day-names {
  @apply flex justify-around text-center text-sm font-medium text-gray-400 sm:text-xs;
}

.app-day-picker .react-datepicker__day-name {
  @apply flex h-8 w-8 items-center justify-center rounded-full py-2 sm:py-1;
}

.app-day-picker .react-datepicker__navigation {
  @apply absolute top-2 sm:top-3;
}

.app-day-picker .react-datepicker__navigation--previous {
  @apply right-12 flex h-8 w-8 items-center justify-center rounded transition hover:bg-gray-200 sm:h-6 sm:w-6;
}

.app-day-picker .react-datepicker__navigation--next {
  @apply right-4 flex h-8 w-8 items-center justify-center rounded transition hover:bg-gray-200 sm:h-6 sm:w-6;
}

.app-day-picker .react-datepicker__day {
  @apply mb-1 flex h-8 w-8 cursor-pointer items-center justify-center rounded py-1.5 text-sm leading-loose text-gray-700 transition sm:py-1;
}

.app-day-picker .react-datepicker__day--disabled {
  @apply cursor-not-allowed opacity-40 hover:bg-transparent;
}

.app-day-picker .react-datepicker__day--outside-month {
  @apply text-gray-300;
}

.app-day-picker .react-datepicker__day--in-range {
  @apply bg-gray-200;
}

.app-day-picker .react-datepicker__day--in-selecting-range {
  @apply bg-teal-200;
}

.app-day-picker .react-datepicker__day--selecting-range-start {
  @apply border-2 border-teal-500 bg-white;
}

.app-day-picker .react-datepicker__day--selecting-range-end {
  @apply border-2 border-teal-500 bg-white;
}

.app-day-picker .react-datepicker__day--selected {
  @apply bg-teal-500 text-white;
}

.app-day-picker .react-datepicker__day--range-start {
  @apply bg-teal-500 text-white hover:bg-white hover:text-gray-700;
}

.app-day-picker .react-datepicker__day--range-end {
  @apply bg-teal-500 text-white hover:bg-white hover:text-gray-700;
}
/*
*/
